@import 'fonts.css';

:root{
    --color-border: #383F42;
    --color-darkest: #1F1F1E;
    --color-dark: #2B3434;
    --color-medium: #4E554D;
    --color-light: #555455;
    --color-lightest: #959993;
    --color-text: #0D0D0D;
}

body{
    background-color: var(--color-medium);
    color: var(--color-text);
    font-family: 'Open_Sans';
    font-weight: normal;
    padding-top: 65px;
}

/* Navbar */
.navbar{
    background-color: var(--color-lightest);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    opacity: 0.85;
}
nav a{
    color: var(--color-text) !important;
}


/* name-header */
hr  
{  
    margin-left: 25%;
    margin-right: 25%;
    border-top: 2px solid var(--color-darkest);
}
section.name-header{
    justify-content: center;
    text-align: center;
}
section #name-sub-header{
    text-align: center;
    font-family: 'Open_Sans';
    font-weight: lighter;
}
section #name-header-img{
    max-width: 30%;
    border-radius: 30px;
    border: 5px solid var(--color-border);
}

#hello{
    font-size: 32pt;
}

/* about */
section.about{
    background: var(--color-lightest);
    border: 5px solid var(--color-border);
    border-radius: 30px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 10px;
    justify-content: center;
}
section.about h4{
    padding-top: 10px;
    font-weight: bold;
}
section.about p{
    text-align: left;
    word-spacing: 2.5px;    
}

/* projects */
section.projects{
    background: var(--color-lightest);
    border: 5px solid var(--color-border);
    border-radius: 30px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 10px;
}
section.projects h4{
    padding-top: 10px;
    font-weight: bold;
}
section.projects p{
    text-align: left;
    word-spacing: 2.5px;    
}

/* contact */
section.contact{
    background: var(--color-lightest);
    border: 5px solid var(--color-border);
    border-radius: 30px;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: center;
}

ul #contact-list{
    display: inline;
    text-align: center;
}

ul #contact-list li {
    list-style-type: none;
    display: inline-block;
}