@import 'fonts.css';

:root{
    --color-darkest: #1b2021;
    --color-dark: #51513d;
    --color-medium: #a6a867;
    --color-light: #e3dc95;
    --color-lightest: #e3dcc2;
    --color-border: #030027;
}

body{
    background-color: var(--color-darkest);
    color: var(--color-light);
    font-family: 'Open_Sans';
    font-weight: normal;
}

hr  
{  
    width: 60%;
    border-top: 1px solid #5f6368;
}

.navbar{
    background-color: var(--color-light);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

section.name-header{
    justify-content: center;
    padding-top: 4%;
    text-align: center;
    /* background-color: #1b2021; */
    /* border: 2px solid #030027; */
    /* border-radius: 30px; */
}

section #name-sub-header{
    text-align: center;
    font-family: 'Open_Sans';
    font-weight: lighter;
}

section #name-header-img{
    border-radius: 30px;
    border: 2px solid var(--color-border);
}

section.about{
    background: #51513d;
    border-radius: 30px;
    border: 2px solid var(--color-border);
    padding-left: 5%;
    margin-bottom: 10px;
    width: 90%;
}

section.about h4{
    padding-top: 10px;
    font-weight: bold;
}

section.about p{
    text-align: left;
    word-spacing: 2.5px;    
}

section.projects{
    background: #51513d;
    border-radius: 30px;
    border: 2px solid var(--color-border);
    padding-left: 5%;
    /* padding-right: 5%; */
    width: 90%;
}

section.projects h4{
    padding-top: 10px;
    font-weight: bold;
}

section.projects p{
    text-align: left;
    word-spacing: 2.5px;    
}